<div class="titulo">
  <h1>Categorias</h1>
  <hr>
</div>

<section class="categorias">
  <div class="categoria" *ngFor="let categoria of categorias">
    <div class="icon-box">
      <mat-icon>{{categoria.icon}}</mat-icon>
    </div>
    <p>{{categoria.nome}}</p>
  </div>
</section>

<div class="titulo">
  <h1>Chefs</h1>
  <hr>
</div>

<section class="chefs">
  <div class="chef" *ngFor="let chef of chefs">
    <img src="{{chef.foto}}" alt="">
    <div class="description">
      <h1>{{chef.nome}}</h1>
      <p>{{chef.descricao_chef}}</p>
      <div class="star-box">
        <mat-icon *ngFor="let star of [].constructor(chef.estrelas)" class="star-count">star</mat-icon>
        <mat-icon *ngFor="let star of [].constructor(5-chef.estrelas)">star</mat-icon>
      </div>
    </div>
  </div>
</section>
