@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

.rectangle {
  background-color: #CF2B4E;

  .conteudo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .texto, img {
      margin: 15px;
    }

    .texto h1 {
      font-size: 54px;
      line-height: 42px;
      font-weight: bolder;
      color: #FFDA2A;
      font-family: dosis, serif;
      text-align: center;
    }

    img {
      width: 90%;
    }
  }

  @media (min-width: 480px) {
    .conteudo img {
      width: unset;
    }
  }

  @media (min-width: 750px) {
    .conteudo {
      flex-direction: row;
    }
  }

  .find-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .bar {
      background-color: #FFF;
      height: 57px;
      width: 553.34px;
      margin-bottom: 55px;
      padding: 0;
      border-radius: 5px;

      mat-icon {
        color: #FFF;
      }
    }

    .bar.mat-focused mat-icon {
      color: #7b1fa2;
    }

    @media (max-width: 648px){
      .bar{
        width: calc(100% - 105px);
      }
    }
  }
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;

  h1 {
    margin-top: 28px;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  hr {
    width: 202px;
    height: 4px;
    border-radius: 4px;
    border: hidden;
    background-color: black;
    margin: 0;
  }
}

.categorias, .chefs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
}

.chefs {
  max-width: 950px;
  margin-bottom: 45px;
}

.categorias .categoria {
  margin: 10px 30px;

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 125px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .icon-box {
    background-color: #ECF0F1;
    transition: background-color .3s, box-shadow .3s;
    box-shadow: 3px 3px 3px rgba(0 0 0 / .2);

    mat-icon {
      height: unset;
      width: unset;
      font-size: 65px;
      color: #000;
      transition: color .3s;
    }
  }

  .icon-box:hover {
    background-color: #CF2B4EC9;
    box-shadow: 3px 3px 3px rgba(0 0 0 / .5);

    mat-icon {
      color: #FFF;
    }
  }

  p {
    text-align: center;
  }
}

.chefs .chef {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 306px;
  width: 267px;
  border-radius: 20px;
  margin: 15px 21px;
  background-color: #ECF0F1;
  box-shadow: 3px 3px 3px rgba(0 0 0 / .2);
  transition: background-color .3s, box-shadow .3s;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .description {
    width: 80%;
    margin-top: 45px;

    h1,p {
      transition: color .3s;
    }

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.30000001192092896px;
      text-align: center;
      color: #CF2B4E;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
      text-align: inherit;
      letter-spacing: -0.3px;
      color: rgba(0, 0, 0, 0.75);
    }

    .star-box {
      margin-top: 10px;

      mat-icon {
        height: unset;
        width: unset;
        font-size: 20px;
      }

      .star-count {
        color: #FFC107;
      }

      mat-icon:not(.star-count) {
        color: gray;
      }
    }
  }
}

.chefs .chef:hover {
  background-color: #CF2B4EC9;
  box-shadow: 3px 3px 3px rgba(0 0 0 / .5);

  .description {
    h1 {
      color: rgb(255, 193, 203);
    }

    p {
      color: #FFF;
    }
  }
}

@media (min-width: 618px) {
  .chefs .chefs {
    margin: 15px 21px;
  }
}
