<div class="content">
  <div class="titles">
    <h1>Registre-se</h1>
    <h2>Informações pessoais</h2>
  </div>

  <div class="perfil-box">
    <p>Selecione o perfil: </p>
    <mat-radio-group [(ngModel)]="usuario.is_chef" (change)="changePerfil($event)" class="perfis" aria-label="Selecione o perfil:">
      <div class="card-perfil">
        <mat-radio-button class="perfil" [value]="false">Cliente</mat-radio-button>
      </div>
      <div class="card-perfil">
        <mat-radio-button class="perfil" [value]="true">Chef</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <div class="perfil-data">
    <div class="perfil-data-first">
      <label for="foto-upload">
        <img #fotoCircle class="foto">
      </label>
      <input type="file" style="display: none;" id="foto-upload" #foto (change)="uploadFoto(foto, fotoCircle)">

      <div class="name-inputs">
        <input [(ngModel)]="name.first" placeholder="Primeiro Nome">
        <input [(ngModel)]="name.last" placeholder="Sobrenome">
      </div>
    </div>

    <div class="perfil-data-secund">

      <div></div>
      <input [(ngModel)]="usuario.telefone" class="input-form" placeholder="Telefone">

      <mat-radio-group [(ngModel)]="usuario.sexo" class="radio-group-genero" aria-label="Gênero:">
        <div class="card-sexo">
          <mat-radio-button value="M">Homem</mat-radio-button>
        </div>
        <div class="card-sexo">
          <mat-radio-button value="F">Mulher</mat-radio-button>
        </div>
      </mat-radio-group>

      <input [(ngModel)]="usuario.nascimento" class="input-form" type="date" placeholder="DD/MM/AAAA">
      <input [(ngModel)]="usuario.endereco" class="input-form" placeholder="Endereço">
      <input [(ngModel)]="usuario.complemento" class="input-form" placeholder="Complemento">
    </div>

    <div *ngIf="is_chef" class="perfil-data-description">
      <input [(ngModel)]="usuario.descricao_chef" class="input-form" placeholder="Descrição do chefe">
    </div>

    <div class="perfil-data-third">
      <p>Informações da Conta</p>

      <div class="data-account">
        <input [(ngModel)]="usuario.email" placeholder="Email">
        <input [(ngModel)]="confirmEmail" placeholder="Confirmar E-mail">
        <input [(ngModel)]="usuario.senha" type="password" placeholder="Senha">
        <input [(ngModel)]="confirmSenha" type="password" placeholder="Confirmar Senha">
      </div>
    </div>

    <button id="confirmar-cadastro" mat-raised-button (click)="salvarCadastro()">Confirmar</button>
  </div>

  <div>
  </div>
</div>
